<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
        <a class="navbar-brand" href="/">Postman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/posts/my" class="nav-link">My Posts</a>
                </li>
                <li class="nav-item">
                    <a href="/posts/add" class="nav-link">Create Post</a>
                </li>                 
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Public Posts</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link">Logout</a>
                </li>              
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Public Posts</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>