html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#delete-comment-form {
    display: inline;
}

#delete-comment-form-btn {
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    transition: transform 1s;
    animation-name: comment-delete-btn;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    cursor: pointer;
}

#delete-comment-form-btn:hover {
    transform: rotate(360deg);
}

.fab-icon {
    animation-name: fab-rotate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
}

.fade {
    animation-name: fade-effect;
    animation-duration: 2s;
    cursor: pointer;
    animation-delay: .1s;
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-effect {
    0% {opacity: 0;}
    25% {opacity: .3;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}

@keyframes fab-rotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

@keyframes comment-delete-btn {
    from {color: #000;}
    to {color: red;}
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.capitalize {
    text-transform: capitalize;
}
@media(max-width: 768px) {
    .delete-btn {
        margin-bottom: 5px;
    }
}

@media(max-width: 320px) {
   html, body {
       font-size: 90%;
   }

   .chip {
       font-size: 90%;
   }
    
}