<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card card-body mb-3">
            <form action="/posts" method="POST">
                <div class="form-group">
                    <label for="title">Title*</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" class="form-control">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="allowComments" checked="checked">
                    <label for="allowComments" class="form-check-label">Allow Comments</label>
                </div>
                <div class="form-group">
                    <textarea name="postBody"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>